<!doctype html>
<html lang="{{ or .Site.Language "en" }}">
  {{- partial "head.html" . }}

  <body class="flex flex-col min-h-screen container mx-auto">
    {{- partial "header.html" . }}

    {{ block "main" . }}
    <main id="content" class="flex flex-grow flex-col lg:flex-row lg:justify-between gap-6 lg:gap-12 px-5 py-3">
      {{ block "content" . }}{{ end }}

      {{ if default .Site.Params.sidebar.disabled true }}
      <hr class="lg:hidden">
      {{- partial "aside.html" . }}
      {{ end }}
    </main>
    {{ end }}
  </body>
</html>
