{{ define "content" }}
<article class="flex flex-auto flex-col gap-3">
  <header class="flex flex-col gap-1">
    <h1 class="text-5xl">{{ .Title }}</h1>

    <small class="text-base flex flex-row items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
      </svg>
      <span>{{ time.Format ":date_long" .PublishDate }}</span>
      <span>{{ time.Format ":time_short" .PublishDate }}</span>
    </small>

    <small class="text-base flex flex-row items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
      <span>{{ .ReadingTime }} min</span>
    </small>

    {{ with .GetTerms "tags" }}
    <small class="text-base flex flex-row items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
      </svg>

      <ul class="flex flex-row items-center gap-2">
        {{ range . }}
        <li>
          <a href="{{ .RelPermalink }}" class="text-orange-400 hover:underline visited:text-orange-700">
            {{ .LinkTitle }}
          </a>
        </li>
        {{ end }}
      </ul>
    </small>
    {{ end }}
  </header>

  <section class="flex flex-col gap-3">
    {{ .Content }}
  </section>
</article>
{{ end }}
