{{ with .Site.Params.sidebar }}
<aside class="flex-none flex flex-col items-center gap-5 lg:w-60">
  {{ if .title }}
  <h5 class="font-bold">{{ .title }}</h5>
  {{ end }}

  {{ if .profileImage }}
  <img src="{{ .profileImage }}" class="w-20 h-20 rounded-full" />
  {{ end }}

  <p>{{ .description }}</p>

  {{ if .links }}
  <dl>
    {{ range $category, $links := .links }}
    <dt class="font-bold capitalize">{{ $category }}</dt>
    <dd class="inline-flex gap-2">
      {{ range $links }}
      <a href="{{ .link }}" class="text-orange-400 hover:underline visited:text-orange-700">{{ .name }}</a>
      {{ end }}
    </dd>
    {{ end }}
  </dl>
  {{ end }}
</aside>
{{ end }}
