<header class="h-12 px-5 py-3">
  <nav class="flex items-center justify-between h-full">
    <div>
      <a href="{{ .Site.Home.Permalink }}" class="text-xl font-bold">{{ .Site.Title }}</a>
    </div>

    {{ if gt .Site.Home.AllTranslations.Len 1 }}
    <div class="flex items-center gap-2 h-full">
      {{ range .Site.Home.AllTranslations }}
      <a href="{{ .RelPermalink }}"{{ if eq $.Site.Language .Language }} class="font-bold"{{ end }}>
        {{ upper .Language.LanguageName }}
      </a>

      <div class="h-full border-l last-of-type:hidden"></div>
      {{ end }}
    </div>
    {{ end }}
  </nav>
</header>
