<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ .Site.Title }}{{ if not .IsHome }} - {{ .Title }}{{ end }}</title>

  <link rel="stylesheet" href="/css/main.css" />
</head>
