<section class="flex flex-col gap-3">
  {{ range .Pages }}
  <article class="flex flex-col gap-1">
    <small class="text-base">{{- .Date | time.Format ":date_medium" }}</small>
    <a href="{{ .RelPermalink }}" class="text-orange-400 hover:underline visited:text-orange-700">
      <h4>{{- .Title }}</h4>
    </a>
  </article>
  {{ end }}
</section>
