{{ define "main" }}
<section class="flex flex-col flex-grow items-center justify-center">
  <h1>404</h1>
  <a href="{{ .Site.Home.Permalink }}" class="text-orange-400 hover:underline">
    Go home
  </a>
</section>
{{ end }}
